.footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #121212f0;
    padding: 15px 0 0 0;
}

.footer p {
    font-size: 10px;
    padding: 7px 0 7px 0;
    margin: 0;
}

.footer img {
    width: 100px;
}
