html {
  height: 100%;
}

.containers {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 50px;
}

.center-content {
  margin-top: 64px;
  display: flex;
  height: 100%;
}

.page-content {
  background:url(../resources/shapelined-_JBKdviweXI-unsplash.jpg);
  width: 100%;
  padding: 4rem;
}

/*Buttons */
.options {
  display: flex;
  justify-content: end;
  gap: 3rem;
  padding: 0 0 2rem 0;
}

.options input {
  padding: 0.8rem;
  width: 6rem;
}
.options select {
  padding: 0.8rem;
  width: 6.5rem;
}

.button {
  background: #037f39;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #037334;
  border-radius: 3px;
  color: #f2f7ff;
}
.button:hover {
  background: #038b3e;
  color: #fff;
  cursor: pointer;
}
.button:focus {
  outline: none;
}


/* List Of Users Table*/

.student-module table thead tr td,
.student-module table tbody tr td{
    width: 190px;
}

table tbody a{
  color: #00b24d;
}
table tbody a:hover{
  color: #00e362;
}
